img {
    object-fit: contain;
    border-radius: 5px;
}
img.left {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 5px;
}
.entity_social{
    margin-bottom: 0;
}
.social-share {
    ul {
        li {
            display: inline;
            padding-right: 5px;
            font-size: 24px;
            a.social-button {
                span.fa-facebook-official{
                    background-color: #fff;
                    color: #3A589E;
                }
                span.fa-twitter{
                    background-color: #fff;
                    color: #5DA9DD;
                }
                span.fa-linkedin{
                    background-color: #fff;
                    color: #0077B5;
                }
                span.fa-whatsapp{
                    color: #00E676;
                    background-color: #fff;
                }
            }
        }
        li:first-child{
            padding-right: 0;
        }
    }
}

