@font-face {
    font-family: 'VLTelingaterDisplay';
    src: url('../fonts/VLTelingaterDisplay.eot') format('embedded-opentype'),
    url('../fonts/VLTelingaterDisplay.woff') format('woff'),
    url('../fonts/VLTelingaterDisplay.woff2') format('woff2'),
    url('../fonts/VLTelingaterDisplay.ttf') format('truetype'),
    url('../fonts/VLTelingaterDisplay.svg') format('svg');
}

@font-face {
    font-family: 'VL-VarialRounded-ExtracondensedMed';
    src: url('../fonts/VL-VarialRounded-ExtracondensedMed.eot') format('embedded-opentype'),
    url('../fonts/VL-VarialRounded-ExtracondensedMed.woff') format('woff'),
    url('../fonts/VL-VarialRounded-ExtracondensedMed.woff2') format('woff2'),
    url('../fonts/VL-VarialRounded-ExtracondensedMed.ttf') format('truetype'),
    url('../fonts/VL-VarialRounded-ExtracondensedMed.svg') format('svg');
}

@font-face {
    font-family: 'VLGloberSemiBoldFree';
    src: url('../fonts/VLGloberSemiBoldFree.eot') format('embedded-opentype'),
    url('../fonts/VLGloberSemiBoldFree.woff') format('woff'),
    url('../fonts/VLGloberSemiBoldFree.woff2') format('woff2'),
    url('../fonts/VLGloberSemiBoldFree.ttf') format('truetype'),
    url('../fonts/VLGloberSemiBoldFree.svg') format('svg');
}

@font-face {
    font-family: 'space-mono-v4-latin-regular';
    src: url('../fonts/space-mono-v4-latin-regular.eot') format('embedded-opentype'),
    url('../fonts/space-mono-v4-latin-regular.woff') format('woff'),
    url('../fonts/space-mono-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/space-mono-v4-latin-regular.ttf') format('truetype'),
    url('../fonts/space-mono-v4-latin-regular.svg') format('svg');
}

@font-face {
    font-family: 'VLUltramarina';
    src: url('../fonts/VLUltramarina.eot') format('embedded-opentype'),
    url('../fonts/VLUltramarina.woff') format('woff'),
    url('../fonts/VLUltramarina.woff2') format('woff2'),
    url('../fonts/VLUltramarina.ttf') format('truetype'),
    url('../fonts/VLUltramarina.svg') format('svg');
}
